:root {
    --background-primary: #f5f5f5;

    --text-primary: #000000;
    --text-secondary: #8e8e93;
}

[data-theme='dark'] {
    --background-primary: #000000;

    --text-primary: #f2f2f7;
    --text-secondary: #6f6f6f;
}
