:root {
    --background-primary: #181A1D;

    --text-primary: #C9CFDB;
    --text-secondary: #8e8e93;
}

[data-theme='dark'] {
    --background-primary: #181A1D;

    --text-primary: #C9CFDB;
    --text-secondary: #6f6f6f;
}
